<html lang="en">
  <head>
    <title>Splash Dashboard - Home</title>
  </head>
  <body>
    <header>
     <h6>Splash</h6>
    </header>
    <div class="init">
     <h1>Splash</h1>
    </div>
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
     html{
      font-family: Montserrat;
      background-color: #000;
      color: #ffffff;
     }
     .init{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50vh; /* O el alto que desees para tu contenedor padre */
     }
    </style>
  </body>
</html>
