<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Splash Dashboard - Home</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap">
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    html {
      font-family: Montserrat;
      background-color: #000;
      color: #ffffff;
    }
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #000;
      color: #ffffff;
    }
    header h2 {
      font-size: 24px;
      margin-right: 20px;
    }
   .button {
      padding: 10px 20px;
      background-color: black;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
   .button:hover {
      background-color: #7c61cd;
    }
   .init {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      background-color: #000;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <header>
    <h2>Splash</h2>
    <a href="https://discord.com/oauth2/authorize?client_id=1220045514641375232" class="button">Invite</a>
  </header>
  <div class="init">
    <h1>Splash</h1>
  </div>
</body>
</html>
