<html lang="en">
  <head>
    <title>Splash Dashboard - Home</title>
  </head>
  <body>
    <h3>Splash</h1>
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
     html{
      font-family: Montserrat;
     }
    </style>
  </body>
</html>
